In [1]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import sys
import matplotlib.pyplot as plt
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
import pandas as pd
np.set_printoptions(precision=4)

In [8]:
!type titanic.csv

# This is Comment Line: remove when computing
# This is Comment Line: remove when computing
survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,3,male,22.0,1,0,7.25,S,Third,man,True,,Southampton,no,False
1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
1,3,female,26.0,0,0,7.925,S,Third,woman,False,,Southampton,yes,True
1,1,female,35.0,1,0,53.1,S,First,woman,False,C,Southampton,yes,False
0,3,male,35.0,0,0,8.05,S,Third,man,True,,Southampton,no,True
0,3,male,,0,0,8.4583,Q,Third,man,True,,Queenstown,no,True
0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
0,3,male,2.0,3,1,21.075,S,Third,child,False,,Southampton,no,False
1,3,female,27.0,0,2,11.1333,S,Third,woman,False,,Southampton,yes,False
1,2,female,14.0,1,0,30.0708,C,Second,child,False,,Cherbourg,yes,False
1,3,female,4.0,1,1,16.7,S,Third,child,False,G,Southampton,yes,False
1,1,female,58.0,0,0,26.55,S,First,woman,False,C,Southampton,yes,True
0,3,male,20.0,0,0,8.05,S,Third,man,True,,Southampton,no,True
0,3,male,39.0,1,5,31.275,S,Third,man,True,,Southampton,no,False
0,3,female,14.0,0,0,7.8542,S,Third,child,False,,Southampton,no,True
1,2,female,55.0,0,0,16.0,S,Second,woman,False,,Southampton,yes,True
0,3,male,2.0,4,1,29.125,Q,Third,child,False,,Queenstown,no,False
1,2,male,,0,0,13.0,S,Second,man,True,,Southampton,yes,True
0,3,female,31.0,1,0,18.0,S,Third,woman,False,,Southampton,no,False
1,3,female,,0,0,7.225,C,Third,woman,False,,Cherbourg,yes,True
0,2,male,35.0,0,0,26.0,S,Second,man,True,,Southampton,no,True
1,2,male,34.0,0,0,13.0,S,Second,man,True,D,Southampton,yes,True
1,3,female,15.0,0,0,8.0292,Q,Third,child,False,,Queenstown,yes,True
1,1,male,28.0,0,0,35.5,S,First,man,True,A,Southampton,yes,True
0,3,female,8.0,3,1,21.075,S,Third,child,False,,Southampton,no,False
1,3,female,38.0,1,5,31.3875,S,Third,woman,False,,Southampton,yes,False
0,3,male,,0,0,7.225,C,Third,man,True,,Cherbourg,no,True
0,1,male,19.0,3,2,263.0,S,First,man,True,C,Southampton,no,False
1,3,female,,0,0,7.8792,Q,Third,woman,False,,Queenstown,yes,True
0,3,male,,0,0,7.8958,S,Third,man,True,,Southampton,no,True
0,1,male,40.0,0,0,27.7208,C,First,man,True,,Cherbourg,no,True
1,1,female,,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
1,3,female,,0,0,7.75,Q,Third,woman,False,,Queenstown,yes,True
0,2,male,66.0,0,0,10.5,S,Second,man,True,,Southampton,no,True
0,1,male,28.0,1,0,82.1708,C,First,man,True,,Cherbourg,no,False
0,1,male,42.0,1,0,52.0,S,First,man,True,,Southampton,no,False
1,3,male,,0,0,7.2292,C,Third,man,True,,Cherbourg,yes,True
0,3,male,21.0,0,0,8.05,S,Third,man,True,,Southampton,no,True
0,3,female,18.0,2,0,18.0,S,Third,woman,False,,Southampton,no,False
1,3,female,14.0,1,0,11.2417,C,Third,child,False,,Cherbourg,yes,False
0,3,female,40.0,1,0,9.475,S,Third,woman,False,,Southampton,no,False
0,2,female,27.0,1,0,21.0,S,Second,woman,False,,Southampton,no,False
0,3,male,,0,0,7.8958,C,Third,man,True,,Cherbourg,no,True
1,2,female,3.0,1,2,41.5792,C,Second,child,False,,Cherbourg,yes,False
1,3,female,19.0,0,0,7.8792,Q,Third,woman,False,,Queenstown,yes,True
0,3,male,,0,0,8.05,S,Third,man,True,,Southampton,no,True
0,3,male,,1,0,15.5,Q,Third,man,True,,Queenstown,no,False
1,3,female,,0,0,7.75,Q,Third,woman,False,,Queenstown,yes,True
0,3,male,,2,0,21.6792,C,Third,man,True,,Cherbourg,no,False
0,3,female,18.0,1,0,17.8,S,Third,woman,False,,Southampton,no,False
0,3,male,7.0,4,1,39.6875,S,Third,child,False,,Southampton,no,False
0,3,male,21.0,0,0,7.8,S,Third,man,True,,Southampton,no,True
1,1,female,49.0,1,0,76.7292,C,First,woman,False,D,Cherbourg,yes,False
1,2,female,29.0,1,0,26.0,S,Second,woman,False,,Southampton,yes,False
0,1,male,65.0,0,1,61.9792,C,First,man,True,B,Cherbourg,no,False
1,1,male,,0,0,35.5,S,First,man,True,C,Southampton,yes,True
1,2,female,21.0,0,0,10.5,S,Second,woman,False,,Southampton,yes,True
0,3,male,28.5,0,0,7.2292,C,Third,man,True,,Cherbourg,no,True
1,2,female,5.0,1,2,27.75,S,Second,child,False,,Southampton,yes,False
0,3,male,11.0,5,2,46.9,S,Third,child,False,,Southampton,no,False
0,3,male,22.0,0,0,7.2292,C,Third,man,True,,Cherbourg,no,True
1,1,female,38.0,0,0,80.0,,First,woman,False,B,,yes,True
0,1,male,45.0,1,0,83.475,S,First,man,True,C,Southampton,no,False
0,3,male,4.0,3,2,27.9,S,Third,child,False,,Southampton,no,False
0,1,male,,0,0,27.7208,C,First,man,True,,Cherbourg,no,True
1,3,male,,1,1,15.2458,C,Third,man,True,,Cherbourg,yes,False
1,2,female,29.0,0,0,10.5,S,Second,woman,False,F,Southampton,yes,True
0,3,male,19.0,0,0,8.1583,S,Third,man,True,,Southampton,no,True
1,3,female,17.0,4,2,7.925,S,Third,woman,False,,Southampton,yes,False
0,3,male,26.0,2,0,8.6625,S,Third,man,True,,Southampton,no,False
0,2,male,32.0,0,0,10.5,S,Second,man,True,,Southampton,no,True
0,3,female,16.0,5,2,46.9,S,Third,woman,False,,Southampton,no,False
0,2,male,21.0,0,0,73.5,S,Second,man,True,,Southampton,no,True
0,3,male,26.0,1,0,14.4542,C,Third,man,True,,Cherbourg,no,False
1,3,male,32.0,0,0,56.4958,S,Third,man,True,,Southampton,yes,True
0,3,male,25.0,0,0,7.65,S,Third,man,True,F,Southampton,no,True
0,3,male,,0,0,7.8958,S,Third,man,True,,Southampton,no,True
0,3,male,,0,0,8.05,S,Third,man,True,,Southampton,no,True
1,2,male,0.83,0,2,29.0,S,Second,child,False,,Southampton,yes,False
1,3,female,30.0,0,0,12.475,S,Third,woman,False,,Southampton,yes,True
0,3,male,22.0,0,0,9.0,S,Third,man,True,,Southampton,no,True
1,3,male,29.0,0,0,9.5,S,Third,man,True,,Southampton,yes,True
1,3,female,,0,0,7.7875,Q,Third,woman,False,,Queenstown,yes,True
0,1,male,28.0,0,0,47.1,S,First,man,True,,Southampton,no,True
1,2,female,17.0,0,0,10.5,S,Second,woman,False,,Southampton,yes,True
1,3,female,33.0,3,0,15.85,S,Third,woman,False,,Southampton,yes,False
0,3,male,16.0,1,3,34.375,S,Third,man,True,,Southampton,no,False
0,3,male,,0,0,8.05,S,Third,man,True,,Southampton,no,True
1,1,female,23.0,3,2,263.0,S,First,woman,False,C,Southampton,yes,False
0,3,male,24.0,0,0,8.05,S,Third,man,True,,Southampton,no,True
0,3,male,29.0,0,0,8.05,S,Third,man,True,,Southampton,no,True
0,3,male,20.0,0,0,7.8542,S,Third,man,True,,Southampton,no,True
0,1,male,46.0,1,0,61.175,S,First,man,True,E,Southampton,no,False
0,3,male,26.0,1,2,20.575,S,Third,man,True,,Southampton,no,False
0,3,male,59.0,0,0,7.25,S,Third,man,True,,Southampton,no,True
0,3,male,,0,0,8.05,S,Third,man,True,,Southampton,no,True
0,1,male,71.0,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
1,1,male,23.0,0,1,63.3583,C,First,man,True,D,Cherbourg,yes,False
1,2,female,34.0,0,1,23.0,S,Second,woman,False,,Southampton,yes,False
0,2,male,34.0,1,0,26.0,S,Second,man,True,,Southampton,no,False
0,3,female,28.0,0,0,7.8958,S,Third,woman,False,,Southampton,no,True
0,3,male,,0,0,7.8958,S,Third,man,True,,Southampton,no,True
0,1,male,21.0,0,1,77.2875,S,First,man,True,D,Southampton,no,False
0,3,male,33.0,0,0,8.6542,S,Third,man,True,,Southampton,no,True
0,3,male,37.0,2,0,7.925,S,Third,man,True,,Southampton,no,False
0,3,male,28.0,0,0,7.8958,S,Third,man,True,,Southampton,no,True
1,3,female,21.0,0,0,7.65,S,Third,woman,False,,Southampton,yes,True
1,3,male,,0,0,7.775,S,Third,man,True,,Southampton,yes,True
0,3,male,38.0,0,0,7.8958,S,Third,man,True,,Southampton,no,True
1,3,female,,1,0,24.15,Q,Third,woman,False,,Queenstown,yes,False
0,1,male,47.0,0,0,52.0,S,First,man,True,C,Southampton,no,True
0,3,female,14.5,1,0,14.4542,C,Third,child,False,,Cherbourg,no,False
0,3,male,22.0,0,0,8.05,S,Third,man,True,,Southampton,no,True
0,3,female,20.0,1,0,9.825,S,Third,woman,False,,Southampton,no,False
0,3,female,17.0,0,0,14.4583,C,Third,woman,False,,Cherbourg,no,True
0,3,male,21.0,0,0,7.925,S,Third,man,True,,Southampton,no,True
0,3,male,70.5,0,0,7.75,Q,Third,man,True,,Queenstown,no,True
0,2,male,29.0,1,0,21.0,S,Second,man,True,,Southampton,no,False
0,1,male,24.0,0,1,247.5208,C,First,man,True,B,Cherbourg,no,False
0,3,female,2.0,4,2,31.275,S,Third,child,False,,Southampton,no,False
0,2,male,21.0,2,0,73.5,S,Second,man,True,,Southampton,no,False
0,3,male,,0,0,8.05,S,Third,man,True,,Southampton,no,True
0,2,male,32.5,1,0,30.0708,C,Second,man,True,,Cherbourg,no,False
1,2,female,32.5,0,0,13.0,S,Second,woman,False,E,Southampton,yes,True
0,1,male,54.0,0,1,77.2875,S,First,man,True,D,Southampton,no,False
1,3,male,12.0,1,0,11.2417,C,Third,child,False,,Cherbourg,yes,False
0,3,male,,0,0,7.75,Q,Third,man,True,,Queenstown,no,True
1,3,male,24.0,0,0,7.1417,S,Third,man,True,,Southampton,yes,True
1,3,female,,1,1,22.3583,C,Third,woman,False,F,Cherbourg,yes,False
0,3,male,45.0,0,0,6.975,S,Third,man,True,,Southampton,no,True
0,3,male,33.0,0,0,7.8958,C,Third,man,True,,Cherbourg,no,True
0,3,male,20.0,0,0,7.05,S,Third,man,True,,Southampton,no,True
0,3,female,47.0,1,0,14.5,S,Third,woman,False,,Southampton,no,False
1,2,female,29.0,1,0,26.0,S,Second,woman,False,,Southampton,yes,False
0,2,male,25.0,0,0,13.0,S,Second,man,True,,Southampton,no,True
0,2,male,23.0,0,0,15.0458,C,Second,man,True,,Cherbourg,no,True
1,1,female,19.0,0,2,26.2833,S,First,woman,False,D,Southampton,yes,False
0,1,male,37.0,1,0,53.1,S,First,man,True,C,Southampton,no,False
0,3,male,16.0,0,0,9.2167,S,Third,man,True,,Southampton,no,True
0,1,male,24.0,0,0,79.2,C,First,man,True,B,Cherbourg,no,True
0,3,female,,0,2,15.2458,C,Third,woman,False,,Cherbourg,no,False
1,3,female,22.0,0,0,7.75,S,Third,woman,False,,Southampton,yes,True
1,3,female,24.0,1,0,15.85,S,Third,woman,False,,Southampton,yes,False
0,3,male,19.0,0,0,6.75,Q,Third,man,True,,Queenstown,no,True
0,2,male,18.0,0,0,11.5,S,Second,man,True,,Southampton,no,True
0,2,male,19.0,1,1,36.75,S,Second,man,True,,Southampton,no,False
1,3,male,27.0,0,0,7.7958,S,Third,man,True,,Southampton,yes,True
0,3,female,9.0,2,2,34.375,S,Third,child,False,,Southampton,no,False
0,2,male,36.5,0,2,26.0,S,Second,man,True,F,Southampton,no,False
0,2,male,42.0,0,0,13.0,S,Second,man,True,,Southampton,no,True
0,2,male,51.0,0,0,12.525,S,Second,man,True,,Southampton,no,True
1,1,female,22.0,1,0,66.6,S,First,woman,False,C,Southampton,yes,False
0,3,male,55.5,0,0,8.05,S,Third,man,True,,Southampton,no,True
0,3,male,40.5,0,2,14.5,S,Third,man,True,,Southampton,no,False
0,3,male,,0,0,7.3125,S,Third,man,True,,Southampton,no,True
0,1,male,51.0,0,1,61.3792,C,First,man,True,,Cherbourg,no,False
1,3,female,16.0,0,0,7.7333,Q,Third,woman,False,,Queenstown,yes,True
0,3,male,30.0,0,0,8.05,S,Third,man,True,,Southampton,no,True
0,3,male,,0,0,8.6625,S,Third,man,True,,Southampton,no,True
0,3,male,,8,2,69.55,S,Third,man,True,,Southampton,no,False
0,3,male,44.0,0,1,16.1,S,Third,man,True,,Southampton,no,False
1,2,female,40.0,0,0,15.75,S,Second,woman,False,,Southampton,yes,True
0,3,male,26.0,0,0,7.775,S,Third,man,True,,Southampton,no,True
0,3,male,17.0,0,0,8.6625,S,Third,man,True,,Southampton,no,True
0,3,male,1.0,4,1,39.6875,S,Third,child,False,,Southampton,no,False
1,3,male,9.0,0,2,20.525,S,Third,child,False,,Southampton,yes,False
1,1,female,,0,1,55.0,S,First,woman,False,E,Southampton,yes,False
0,3,female,45.0,1,4,27.9,S,Third,woman,False,,Southampton,no,False
0,1,male,,0,0,25.925,S,First,man,True,,Southampton,no,True
0,3,male,28.0,0,0,56.4958,S,Third,man,True,,Southampton,no,True
0,1,male,61.0,0,0,33.5,S,First,man,True,B,Southampton,no,True
0,3,male,4.0,4,1,29.125,Q,Third,child,False,,Queenstown,no,False
1,3,female,1.0,1,1,11.1333,S,Third,child,False,,Southampton,yes,False
0,3,male,21.0,0,0,7.925,S,Third,man,True,,Southampton,no,True
0,1,male,56.0,0,0,30.6958,C,First,man,True,A,Cherbourg,no,True
0,3,male,18.0,1,1,7.8542,S,Third,man,True,,Southampton,no,False
0,3,male,,3,1,25.4667,S,Third,man,True,,Southampton,no,False
0,1,female,50.0,0,0,28.7125,C,First,woman,False,C,Cherbourg,no,True
0,2,male,30.0,0,0,13.0,S,Second,man,True,,Southampton,no,True
0,3,male,36.0,0,0,0.0,S,Third,man,True,,Southampton,no,True
0,3,female,,8,2,69.55,S,Third,woman,False,,Southampton,no,False
0,2,male,,0,0,15.05,C,Second,man,True,,Cherbourg,no,True
0,3,male,9.0,4,2,31.3875,S,Third,child,False,,Southampton,no,False
1,2,male,1.0,2,1,39.0,S,Second,child,False,F,Southampton,yes,False
1,3,female,4.0,0,2,22.025,S,Third,child,False,,Southampton,yes,False
0,1,male,,0,0,50.0,S,First,man,True,A,Southampton,no,True
1,3,female,,1,0,15.5,Q,Third,woman,False,,Queenstown,yes,False
1,1,male,45.0,0,0,26.55,S,First,man,True,,Southampton,yes,True
0,3,male,40.0,1,1,15.5,Q,Third,man,True,,Queenstown,no,False
0,3,male,36.0,0,0,7.8958,S,Third,man,True,,Southampton,no,True
1,2,female,32.0,0,0,13.0,S,Second,woman,False,,Southampton,yes,True
0,2,male,19.0,0,0,13.0,S,Second,man,True,,Southampton,no,True
1,3,female,19.0,1,0,7.8542,S,Third,woman,False,,Southampton,yes,False
1,2,male,3.0,1,1,26.0,S,Second,child,False,F,Southampton,yes,False
1,1,female,44.0,0,0,27.7208,C,First,woman,False,B,Cherbourg,yes,True
1,1,female,58.0,0,0,146.5208,C,First,woman,False,B,Cherbourg,yes,True
0,3,male,,0,0,7.75,Q,Third,man,True,,Queenstown,no,True
0,3,male,42.0,0,1,8.4042,S,Third,man,True,,Southampton,no,False
1,3,female,,0,0,7.75,Q,Third,woman,False,,Queenstown,yes,True
0,2,female,24.0,0,0,13.0,S,Second,woman,False,,Southampton,no,True
0,3,male,28.0,0,0,9.5,S,Third,man,True,,Southampton,no,True
0,3,male,,8,2,69.55,S,Third,man,True,,Southampton,no,False
0,3,male,34.0,0,0,6.4958,S,Third,man,True,,Southampton,no,True
0,3,male,45.5,0,0,7.225,C,Third,man,True,,Cherbourg,no,True
1,3,male,18.0,0,0,8.05,S,Third,man,True,,Southampton,yes,True
0,3,female,2.0,0,1,10.4625,S,Third,child,False,G,Southampton,no,False
0,3,male,32.0,1,0,15.85,S,Third,man,True,,Southampton,no,False
1,3,male,26.0,0,0,18.7875,C,Third,man,True,,Cherbourg,yes,True
1,3,female,16.0,0,0,7.75,Q,Third,woman,False,,Queenstown,yes,True
1,1,male,40.0,0,0,31.0,C,First,man,True,A,Cherbourg,yes,True
0,3,male,24.0,0,0,7.05,S,Third,man,True,,Southampton,no,True
1,2,female,35.0,0,0,21.0,S,Second,woman,False,,Southampton,yes,True
0,3,male,22.0,0,0,7.25,S,Third,man,True,,Southampton,no,True
0,2,male,30.0,0,0,13.0,S,Second,man,True,,Southampton,no,True
0,3,male,,1,0,7.75,Q,Third,man,True,,Queenstown,no,False
1,1,female,31.0,1,0,113.275,C,First,woman,False,D,Cherbourg,yes,False
1,3,female,27.0,0,0,7.925,S,Third,woman,False,,Southampton,yes,True
0,2,male,42.0,1,0,27.0,S,Second,man,True,,Southampton,no,False
1,1,female,32.0,0,0,76.2917,C,First,woman,False,D,Cherbourg,yes,True
0,2,male,30.0,0,0,10.5,S,Second,man,True,,Southampton,no,True
1,3,male,16.0,0,0,8.05,S,Third,man,True,,Southampton,yes,True
0,2,male,27.0,0,0,13.0,S,Second,man,True,,Southampton,no,True
0,3,male,51.0,0,0,8.05,S,Third,man,True,,Southampton,no,True
0,3,male,,0,0,7.8958,S,Third,man,True,,Southampton,no,True
1,1,male,38.0,1,0,90.0,S,First,man,True,C,Southampton,yes,False
0,3,male,22.0,0,0,9.35,S,Third,man,True,,Southampton,no,True
1,2,male,19.0,0,0,10.5,S,Second,man,True,,Southampton,yes,True
0,3,male,20.5,0,0,7.25,S,Third,man,True,,Southampton,no,True
0,2,male,18.0,0,0,13.0,S,Second,man,True,,Southampton,no,True
0,3,female,,3,1,25.4667,S,Third,woman,False,,Southampton,no,False
1,1,female,35.0,1,0,83.475,S,First,woman,False,C,Southampton,yes,False
0,3,male,29.0,0,0,7.775,S,Third,man,True,,Southampton,no,True
0,2,male,59.0,0,0,13.5,S,Second,man,True,,Southampton,no,True
1,3,female,5.0,4,2,31.3875,S,Third,child,False,,Southampton,yes,False
0,2,male,24.0,0,0,10.5,S,Second,man,True,,Southampton,no,True
0,3,female,,0,0,7.55,S,Third,woman,False,,Southampton,no,True
0,2,male,44.0,1,0,26.0,S,Second,man,True,,Southampton,no,False
1,2,female,8.0,0,2,26.25,S,Second,child,False,,Southampton,yes,False
0,2,male,19.0,0,0,10.5,S,Second,man,True,,Southampton,no,True
0,2,male,33.0,0,0,12.275,S,Second,man,True,,Southampton,no,True
0,3,female,,1,0,14.4542,C,Third,woman,False,,Cherbourg,no,False
1,3,female,,1,0,15.5,Q,Third,woman,False,,Queenstown,yes,False
0,2,male,29.0,0,0,10.5,S,Second,man,True,,Southampton,no,True
0,3,male,22.0,0,0,7.125,S,Third,man,True,,Southampton,no,True
0,3,male,30.0,0,0,7.225,C,Third,man,True,,Cherbourg,no,True
0,1,male,44.0,2,0,90.0,Q,First,man,True,C,Queenstown,no,False
0,3,female,25.0,0,0,7.775,S,Third,woman,False,,Southampton,no,True
1,2,female,24.0,0,2,14.5,S,Second,woman,False,,Southampton,yes,False
1,1,male,37.0,1,1,52.5542,S,First,man,True,D,Southampton,yes,False
0,2,male,54.0,1,0,26.0,S,Second,man,True,,Southampton,no,False
0,3,male,,0,0,7.25,S,Third,man,True,,Southampton,no,True
0,3,female,29.0,1,1,10.4625,S,Third,woman,False,G,Southampton,no,False
0,1,male,62.0,0,0,26.55,S,First,man,True,C,Southampton,no,True
0,3,male,30.0,1,0,16.1,S,Third,man,True,,Southampton,no,False
0,3,female,41.0,0,2,20.2125,S,Third,woman,False,,Southampton,no,False
1,3,female,29.0,0,2,15.2458,C,Third,woman,False,,Cherbourg,yes,False
1,1,female,,0,0,79.2,C,First,woman,False,,Cherbourg,yes,True
1,1,female,30.0,0,0,86.5,S,First,woman,False,B,Southampton,yes,True
1,1,female,35.0,0,0,512.3292,C,First,woman,False,,Cherbourg,yes,True
1,2,female,50.0,0,1,26.0,S,Second,woman,False,,Southampton,yes,False
0,3,male,,0,0,7.75,Q,Third,man,True,,Queenstown,no,True
1,3,male,3.0,4,2,31.3875,S,Third,child,False,,Southampton,yes,False
0,1,male,52.0,1,1,79.65,S,First,man,True,E,Southampton,no,False
0,1,male,40.0,0,0,0.0,S,First,man,True,B,Southampton,no,True
0,3,female,,0,0,7.75,Q,Third,woman,False,,Queenstown,no,True
0,2,male,36.0,0,0,10.5,S,Second,man,True,,Southampton,no,True
0,3,male,16.0,4,1,39.6875,S,Third,man,True,,Southampton,no,False
1,3,male,25.0,1,0,7.775,S,Third,man,True,,Southampton,yes,False
1,1,female,58.0,0,1,153.4625,S,First,woman,False,C,Southampton,yes,False
1,1,female,35.0,0,0,135.6333,S,First,woman,False,C,Southampton,yes,True
0,1,male,,0,0,31.0,S,First,man,True,,Southampton,no,True
1,3,male,25.0,0,0,0.0,S,Third,man,True,,Southampton,yes,True
1,2,female,41.0,0,1,19.5,S,Second,woman,False,,Southampton,yes,False
0,1,male,37.0,0,1,29.7,C,First,man,True,C,Cherbourg,no,False
1,3,female,,0,0,7.75,Q,Third,woman,False,,Queenstown,yes,True
1,1,female,63.0,1,0,77.9583,S,First,woman,False,D,Southampton,yes,False
0,3,female,45.0,0,0,7.75,S,Third,woman,False,,Southampton,no,True
0,2,male,,0,0,0.0,S,Second,man,True,,Southampton,no,True
0,3,male,7.0,4,1,29.125,Q,Third,child,False,,Queenstown,no,False
1,3,female,35.0,1,1,20.25,S,Third,woman,False,,Southampton,yes,False
0,3,male,65.0,0,0,7.75,Q,Third,man,True,,Queenstown,no,True
0,3,male,28.0,0,0,7.8542,S,Third,man,True,,Southampton,no,True
0,3,male,16.0,0,0,9.5,S,Third,man,True,,Southampton,no,True
1,3,male,19.0,0,0,8.05,S,Third,man,True,,Southampton,yes,True
0,1,male,,0,0,26.0,S,First,man,True,A,Southampton,no,True
0,3,male,33.0,0,0,8.6625,C,Third,man,True,,Cherbourg,no,True
1,3,male,30.0,0,0,9.5,S,Third,man,True,,Southampton,yes,True
0,3,male,22.0,0,0,7.8958,S,Third,man,True,,Southampton,no,True
1,2,male,42.0,0,0,13.0,S,Second,man,True,,Southampton,yes,True
1,3,female,22.0,0,0,7.75,Q,Third,woman,False,,Queenstown,yes,True
1,1,female,26.0,0,0,78.85,S,First,woman,False,,Southampton,yes,True
1,1,female,19.0,1,0,91.0792,C,First,woman,False,B,Cherbourg,yes,False
0,2,male,36.0,0,0,12.875,C,Second,man,True,D,Cherbourg,no,True
0,3,female,24.0,0,0,8.85,S,Third,woman,False,,Southampton,no,True
0,3,male,24.0,0,0,7.8958,S,Third,man,True,,Southampton,no,True
0,1,male,,0,0,27.7208,C,First,man,True,,Cherbourg,no,True
0,3,male,23.5,0,0,7.2292,C,Third,man,True,,Cherbourg,no,True
0,1,female,2.0,1,2,151.55,S,First,child,False,C,Southampton,no,False
1,1,male,,0,0,30.5,S,First,man,True,C,Southampton,yes,True
1,1,female,50.0,0,1,247.5208,C,First,woman,False,B,Cherbourg,yes,False
1,3,female,,0,0,7.75,Q,Third,woman,False,,Queenstown,yes,True
1,3,male,,2,0,23.25,Q,Third,man,True,,Queenstown,yes,False
0,3,male,19.0,0,0,0.0,S,Third,man,True,,Southampton,no,True
1,2,female,,0,0,12.35,Q,Second,woman,False,E,Queenstown,yes,True
0,3,male,,0,0,8.05,S,Third,man,True,,Southampton,no,True
1,1,male,0.92,1,2,151.55,S,First,child,False,C,Southampton,yes,False
1,1,female,,0,0,110.8833,C,First,woman,False,,Cherbourg,yes,True
1,1,female,17.0,1,0,108.9,C,First,woman,False,C,Cherbourg,yes,False
0,2,male,30.0,1,0,24.0,C,Second,man,True,,Cherbourg,no,False
1,1,female,30.0,0,0,56.9292,C,First,woman,False,E,Cherbourg,yes,True

In [30]:
df=pd.read_table('titanic.csv', sep=',', skiprows=[0, 1])
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
12,0,3,male,20.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
13,0,3,male,39.0,1,5,31.2750,S,Third,man,True,NaN,Southampton,no,False
14,0,3,female,14.0,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
15,1,2,female,55.0,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
16,0,3,male,2.0,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
18,0,3,female,31.0,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
20,0,2,male,35.0,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
21,1,2,male,34.0,0,0,13.0000,S,Second,man,True,D,Southampton,yes,True
22,1,3,female,15.0,0,0,8.0292,Q,Third,child,False,NaN,Queenstown,yes,True
23,1,1,male,28.0,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
24,0,3,female,8.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
25,1,3,female,38.0,1,5,31.3875,S,Third,woman,False,NaN,Southampton,yes,False
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
27,0,1,male,19.0,3,2,263.0000,S,First,man,True,C,Southampton,no,False
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
29,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,0,2,male,21.0,1,0,11.5000,S,Second,man,True,NaN,Southampton,no,False
862,1,1,female,48.0,0,0,25.9292,S,First,woman,False,D,Southampton,yes,True
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
864,0,2,male,24.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
865,1,2,female,42.0,0,0,13.0000,S,Second,woman,False,NaN,Southampton,yes,True
866,1,2,female,27.0,1,0,13.8583,C,Second,woman,False,NaN,Cherbourg,yes,False
867,0,1,male,31.0,0,0,50.4958,S,First,man,True,A,Southampton,no,True
868,0,3,male,NaN,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
869,1,3,male,4.0,1,1,11.1333,S,Third,child,False,NaN,Southampton,yes,False
870,0,3,male,26.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
873,0,3,male,47.0,0,0,9.0000,S,Third,man,True,NaN,Southampton,no,True
874,1,2,female,28.0,1,0,24.0000,C,Second,woman,False,NaN,Cherbourg,yes,False
875,1,3,female,15.0,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True
876,0,3,male,20.0,0,0,9.8458,S,Third,man,True,NaN,Southampton,no,True
877,0,3,male,19.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
881,0,3,male,33.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
883,0,2,male,28.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [34]:
df . sort_values ( by = [ 'embark_town' ])

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
258,1,1,female,35.00,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
125,1,3,male,12.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
354,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
352,0,3,male,15.00,1,1,7.2292,C,Third,child,False,NaN,Cherbourg,no,False
128,1,3,female,NaN,1,1,22.3583,C,Third,woman,False,F,Cherbourg,yes,False
641,1,1,female,24.00,0,0,69.3000,C,First,woman,False,B,Cherbourg,yes,True
130,0,3,male,33.00,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
798,0,3,male,30.00,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
644,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
645,1,1,male,48.00,1,0,76.7292,C,First,man,True,D,Cherbourg,yes,False
647,1,1,male,56.00,0,0,35.5000,C,First,man,True,A,Cherbourg,yes,True
135,0,2,male,23.00,0,0,15.0458,C,Second,man,True,NaN,Cherbourg,no,True
337,1,1,female,41.00,0,0,134.5000,C,First,woman,False,E,Cherbourg,yes,True
793,0,1,male,NaN,0,0,30.6958,C,First,man,True,NaN,Cherbourg,no,True
139,0,1,male,24.00,0,0,79.2000,C,First,man,True,B,Cherbourg,no,True
140,0,3,female,NaN,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,no,False
329,1,1,female,16.00,0,1,57.9792,C,First,woman,False,B,Cherbourg,yes,False
789,0,1,male,46.00,0,0,79.2000,C,First,man,True,B,Cherbourg,no,True
325,1,1,female,36.00,0,0,135.6333,C,First,woman,False,C,Cherbourg,yes,True
659,0,1,male,58.00,0,2,113.2750,C,First,man,True,D,Cherbourg,no,False
632,1,1,male,32.00,0,0,30.5000,C,First,man,True,B,Cherbourg,yes,True
661,0,3,male,40.00,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
122,0,2,male,32.50,1,0,30.0708,C,Second,man,True,NaN,Cherbourg,no,False
361,0,2,male,29.00,1,0,27.7208,C,Second,man,True,NaN,Cherbourg,no,False
96,0,1,male,71.00,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
97,1,1,male,23.00,0,1,63.3583,C,First,man,True,D,Cherbourg,yes,False
620,0,3,male,27.00,1,0,14.4542,C,Third,man,True,NaN,Cherbourg,no,False
622,1,3,male,20.00,1,1,15.7417,C,Third,man,True,NaN,Cherbourg,yes,False
381,1,3,female,1.00,0,2,15.7417,C,Third,child,False,NaN,Cherbourg,yes,False
380,1,1,female,42.00,0,0,227.5250,C,First,woman,False,NaN,Cherbourg,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,0,3,female,31.00,0,0,7.8542,S,Third,woman,False,NaN,Southampton,no,True
397,0,2,male,46.00,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
363,0,3,male,35.00,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
360,0,3,male,40.00,1,4,27.9000,S,Third,man,True,NaN,Southampton,no,False
357,0,2,female,38.00,0,0,13.0000,S,Second,woman,False,NaN,Southampton,no,True
356,1,1,female,22.00,0,1,55.0000,S,First,woman,False,E,Southampton,yes,False
333,0,3,male,16.00,2,0,18.0000,S,Third,man,True,NaN,Southampton,no,False
334,1,1,female,NaN,1,0,133.6500,S,First,woman,False,NaN,Southampton,yes,False
335,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
336,0,1,male,29.00,1,0,66.6000,S,First,man,True,C,Southampton,no,False
338,1,3,male,45.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,yes,True
339,0,1,male,45.00,0,0,35.5000,S,First,man,True,NaN,Southampton,no,True
340,1,2,male,2.00,1,1,26.0000,S,Second,child,False,F,Southampton,yes,False
341,1,1,female,24.00,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
342,0,2,male,28.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
331,0,1,male,45.50,0,0,28.5000,S,First,man,True,C,Southampton,no,True
343,0,2,male,25.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
345,1,2,female,24.00,0,0,13.0000,S,Second,woman,False,F,Southampton,yes,True
346,1,2,female,40.00,0,0,13.0000,S,Second,woman,False,NaN,Southampton,yes,True
347,1,3,female,NaN,1,0,16.1000,S,Third,woman,False,NaN,Southampton,yes,False
348,1,3,male,3.00,1,1,15.9000,S,Third,child,False,NaN,Southampton,yes,False
349,0,3,male,42.00,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
350,0,3,male,23.00,0,0,9.2250,S,Third,man,True,NaN,Southampton,no,True
351,0,1,male,NaN,0,0,35.0000,S,First,man,True,C,Southampton,no,True
353,0,3,male,25.00,1,0,17.8000,S,Third,man,True,NaN,Southampton,no,False
355,0,3,male,28.00,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
344,0,2,male,36.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
445,1,1,male,4.00,0,2,81.8583,S,First,child,False,A,Southampton,yes,False
61,1,1,female,38.00,0,0,80.0000,NaN,First,woman,False,B,NaN,yes,True
829,1,1,female,62.00,0,0,80.0000,NaN,First,woman,False,B,NaN,yes,True